# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/styles.css

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
src/Config/config-env.php


# Storm
.idea/*