
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://swiatmat.pl/css/fonts!admin-3376.css">
    <link rel="stylesheet" type="text/css" href="http://www.shoplo.com/css/admin!admin-4486067.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/autosize.js/1.17.1/autosize-min.js"></script>
    <script src="http://www.shoplo.com/js/admin!admin-3376.js"></script>


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">

</head>
<body class="sidebar-collapsed content-ready">

<style>
    #related-items-list.grid.photos > li {
        line-height: auto;
    }
    #related-items-list.grid > li .meta
    {
        position:relative;
    }

    #related-items-list.grid.photos > li .thumb-100
    {
        margin-top:15px !important;
    }

    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

    .space-right {
        margin-right: 20px;
    }

    .space-top {
        padding-top: 3px;
    }

    .autocompleter-area {
        width: 100%;
        height: 80px;
        border: 1px solid #1C1F27;
        border-top: none;
        position: absolute;
        background-color: white;
        left: -1px;
        z-index: 10;
    }

    .with-autocompleter-open {
        border-top: 1px solid #1C1F27;
        border-left: 1px solid #1C1F27;
        border-right: 1px solid #1C1F27;
        width: 100%;
        border-bottom: 1px solid #D5DAE2;
    }
</style>

<section class="main-container">

<section class="content-container">
    <section class="content-settings">
        <article class="content">
            <section class="scroll-area right-frame bottom-frame">
                <section class="box bottom-frame scroll-heading">
                    <h2>Dodaj ofertę</h2>
                </section>
                <section class="scroll-content">
                    <form action="/save/" method="post">
                        {% if upSell is defined %}<input name="upSellId" type="hidden" value="{{ upSell.getId() }}">{% endif %}
                        <table class="tabular">
                            <tbody>
                                <tr>
                                    {% include 'main-settings.block.html.twig' with {'upSell': upSell is defined ? upSell : null} %}
                                </tr>
                                <tr>
                                    {% include 'when-settings.block.html.twig' with {'upSell': upSell is defined ? upSell : null} %}
                                </tr>
                                <tr>
                                    {% include 'up-sell-settings.block.html.twig' with {'upSell': upSell is defined ? upSell : null} %}
                                </tr>
                            </tbody>
                        </table>

                        <section class="buttons-bar">
                            <section class="box buttons">
                                <button type="submit" class="btn-accept" data-icon="'">Zapisz zmiany</button>
                                <button type="reset" class="btn-cancel" data-icon="!">Anuluj</button>
                            </section>
                        </section>
                    </form>
                </section>
            </section>
        </article>
    </section>
</section>
</section>

<script src="http://www.shoplo.com/js/admin!bootstrap-admin!bootstrap.select-admin!bootstrap.checkbox-admin!jquery.custom-admin!jquery.validate-admin!jquery.sortable-admin!jquery.slimscroll-admin!jquery.numberAnimate-admin!jquery.touchtoclick-admin!admin-admin!main-11240606.js"></script>
<script src="http://www.shoplo.com/js/admin!autocompleter-0.js"></script>
<script>
    ADMIN.ROOT = 'local.up-sell.pl';
    ADMIN.STATIC_ROOT = 'local.up-sell.pl';
    ADMIN.USER = {
        ID: '0',
        TOKEN: '',
        LANG: {% if js_dict is defined %}eval(js_dict){% else %}''{% endif %},
        IC: {% if ins_com is defined and ins_com %}true{% else %}false{% endif %}
    };
    ADMIN.SHOP = {
        CURRENCY: '{% if shop is defined and shop%}{{ shop.currency }}{% endif %}'
    };

    ADMIN.run();
</script>
<script type="text/javascript">
    $(function(){
        $('#price-range-label').click(function() {

            if ($("input[name='price-range']").is(':checked'))
            {
                $("input[name='price_from']").removeAttr('disabled');
                $("input[name='price_to']").removeAttr('disabled');

            }
            else
            {
                $("input[name='price_from']").attr('disabled', 'disabled');
                $("input[name='price_to']").attr('disabled', 'disabled');
            }
        });

        $('#select-discount').change(function(){
            var selected = $('#select-discount option:selected').val();
            var html = '';
            switch(selected)
            {
                case 'percent':
                        html = $('<div class="hide"><span class="add-on">%</span><input name="discount-amount" type="text" style="height: 30px;"></div>');
                        $('.discount-container').html(html);
                        html.toggle();
                        break;

                case 'amount':
                        html = $('<div class="hide"><span class="add-on">$</span><input name="discount-amount" type="text" style="height: 30px;"</div>');
                        $('.discount-container').html(html);
                        html.toggle();
                        break;

                case 'none':
                    $('.discount-container').html('');

            }
        });

        $('#related-ac').keyup(function(){

            if ($(this).val())
            {
                $('#related-ac-result-container').removeClass('hide');
                $(this).css('border-color','#1c1f27');
                var query = $(this).val();

                var userData = {
                    'query': query
                };

                $.post('/ajax/autocomplete', userData, function (ajaxResult) {
                            if(ajaxResult.status == 'ok'){
                                $('#related-ac-result-container').find('.autocompleter-list').html(ajaxResult.html);
                            }
                        }
                        , 'json');
            }
            else
            {
                $(this).css('border-color','');
                $('#related-ac-result-container').addClass('hide');
            }
        });

        $('#up-sell-ac').keyup(function(){

            if ($(this).val())
            {
                $('#up-sell-ac-result-container').removeClass('hide');
                $(this).css('border-color','#1c1f27');
                var query = $(this).val();

                var userData = {
                    'query': query
                };

                $.post('/ajax/autocomplete', userData, function (ajaxResult) {
                            if(ajaxResult.status == 'ok'){
                                $('#up-sell-ac-result-container').find('.autocompleter-list').html(ajaxResult.html);
                            }
                        }
                        , 'json');
            }
            else
            {
                $(this).css('border-color','');
                $('#up-sell-ac-result-container').addClass('hide');
            }
        });

        $('#related-ac-result-container').on('click', 'li.item', function(){
            var imgSrc = $(this).data('thumbnail');
            var name = $(this).data('name');
            var productId = $(this).data('id');

            $('#related-ac').css('border-color','');
            $('#related-ac-result-container').addClass('hide');
            $('#related').find('ul.photos.products').append('<li class="with-handle with-meta preloaded" data-id="8"><a class="delete" data-icon="!"></a><span class="thumb-100 fade in" style="margin-top: 51px;"><img src="'+imgSrc+'"></span><section class="meta"><span class="text">'+ $.trim(name)+'</span></section><input type="hidden" name="selected-product-trigger[]" value="'+productId+'"></li>');
            $('#related-ac').val('');
        });

        $('#up-sell-ac-result-container').on('click', 'li.item', function(){
            var imgSrc = $(this).data('thumbnail');
            var name = $(this).data('name');
            var productId = $(this).data('id');
            var html = '<li class="with-handle with-meta preloaded" data-id="8">' +
                            '<a class="delete" data-icon="!"></a>' +
                            '<span class="thumb-100 fade in" style="margin-top: 51px;">' +
                                '<img src="'+imgSrc+'">' +
                            '</span>' +
                            '<section class="meta">' +
                                '<span class="text">'+ $.trim(name)+'</span>' +
                            '</section>' +
                            '<input type="hidden" name="up-sell-products[]" value="'+productId+'">' +
                        '</li>';
            $('#up-sell-ac').css('border-color','');
            $('#up-sell-ac-result-container').addClass('hide');
            $('#up-sell').find('ul.photos.products').append(html);
            $('#up-sell-ac').val('');
        });

    });
</script>
</body>
</html>