<td class="box bottom-frame right-frame left-column valign-top">
	<h3>Wybierz gdzie oferta upsell ma się pojawić</h3>
</td>
<td class="bottom-frame  valign-top">
	<section class="control-group bottom box clearfix">
		<ul class="table-columns">
			<li>
				<select name="placement" class="stats-select pull-right">
					<option value="product">Strona Produktu</option>
					<option value="cart">Strona Koszyka</option>
				</select>
			</li>
		</ul>
	</section>
</td>
